$error-color     : #dc3232;
$border-color    : #444;
$primary-color   : #374d72;
$secondary-color : #eee;

:root {
	--bg-color               : #eee;
	--header-color           : #374d72;
	--text-color             : #181818;
	--border-color           : transparent;
	--input-border-color     : #ddd;
	--login-color            : #fff;
	--shadow-opacity         : 0.1;
	--btn-hover-color        : #2a3b58;
	--btn-border-hover-color : transparent;
}

::selection {
	background-color: $primary-color;
	color: $secondary-color;
}

* {
	box-sizing: border-box;

	&:before, &:after {
		box-sizing: border-box;
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% { 
		opacity: 1;

	}
	100% { 
		opacity: 0;
		transform: scale(3);
	}
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	background:  var(--bg-color);
	color: var(--text-color);
	display: flex;

	&.light-theme {
		--bg-color               : #eee;
		--header-color           : #374d72;
		--text-color             : #181818;
		--border-color           : transparent;
		--input-border-color     : #ddd;
		--login-color            : #fff;
		--shadow-opacity         : 0.1;
		--btn-hover-color        : #2a3b58;
		--btn-border-hover-color : transparent;
	}

	&.dark-theme {
		--bg-color               : #181818;
		--header-color           : #181818;
		--text-color             : #eee;
		--border-color           : #444;
		--input-border-color     : #444;
		--login-color            : #181818;
		--shadow-opacity         : 0.3;
		--btn-hover-color        : #374d72;
		--btn-border-hover-color : #eee;
	}

	@media (prefers-color-scheme: dark) {
		--bg-color               : #181818;
		--header-color           : #181818;
		--text-color             : #eee;
		--border-color           : #444;
		--input-border-color     : #444;
		--login-color            : #181818;
		--shadow-opacity         : 0.3;
		--btn-hover-color        : #374d72;
		--btn-border-hover-color : #eee;
	}
}

.sr {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	padding: 0;
	width: 1px;
}

#login {
	border-radius: 0.3125rem;
	box-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, var( --shadow-opacity ));
	margin: 5% auto auto auto;
	max-width: 22.0rem;
	position: relative;
	padding: 0;
	width: 100%;

	.login &_error {
		animation : blink 1.2s;
		background: $error-color;
		border: 0;
		border-radius: 50%;
		box-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, var( --shadow-opacity ));
		display: block;
		height: 4.0rem;
		left: 50%;
		margin: -2.0rem 0 0 -2.0rem;
		opacity: 0;
		padding: 0;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: scale(0);
		width: 4.0rem;

		&:before, &:after {
			background: $secondary-color;
			content:'';
			display: block;
			height: 0.5rem;
			left: 20%;
			position: absolute;
			top: 40%;
			width: 60%;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	h1 {
		perspective: 65.0rem;

		a {
			background: var(--header-color);
			border: thin solid var(--border-color);
			//border-bottom: 0;
			border-radius: 0.3125rem 0.3125rem 0 0;
			color: var(--text-color);
			display: block;
			height: 6.0rem;
			padding: 1.0rem;
			transition: all .4s;
			transform-origin: 0 100%;
			margin: 0 auto;
			width: 100%;
				
			&:hover, &:focus {
				transform: rotateX(-25deg);
				box-shadow: 0 -0.625rem 0.625rem rgba(0, 0, 0, var( --shadow-opacity ));
			}

			&:focus {
				outline: thin dashed var(--text-color);
			}
		}

		svg {
			display: block;
			fill: $secondary-color;
			height: 100%;
			width: 100%;

			g, path, rect, circle, polygon {
				fill: $secondary-color;
			}
		}
	}

	.login-title {
		background: var(--login-color);
		color: var(--text-color);
		border-left: thin solid var(--border-color);
		border-right: thin solid var(--border-color);
		font-size: 2.0rem;
		font-weight: normal;
		opacity: 0.9;
		padding: 1.5rem 0 0.5rem 0;
		text-align: center;
	}

	form {
		background: var(--login-color);
		border-left: thin solid var(--border-color);
		border-right: thin solid var(--border-color);
		box-shadow: none;
		margin: 0;
		padding: 1.5rem;

		label {
			font-size: .9rem;
		}

		input {
			background: var(--login-color);
			border: thin solid var(--input-border-color);
			box-shadow: none;
			color: var(--text-color);
			font-size: .9rem;
			padding: .6rem;
			text-shadow: none;
			transition: border .4s;

			&:hover, &:focus {
				box-shadow: none;
				border: thin solid var(--text-color);
			}

			&:focus {
				outline: thin dashed var(--text-color);
			}
		}
	}

	a, #nav a {
		color: var(--text-color);
		text-decoration: underline;

		&:hover, &:focus {
			text-decoration: none;
		}

		&:focus {
			box-shadow: none;
			outline: thin dashed var(--text-color);
		}
	}

	.button {
		background: $primary-color;
		color: $secondary-color;
		text-shadow: none;
		box-shadow: none;
		float: none;
		border-radius: 0.3125rem;
		border: thin solid $primary-color;
		padding: .6rem 2.5rem;
		height: auto;
		font-size: 1.0rem;
		width: 100%;
		transition: all .4s;
		margin: 0.625rem 0 0 0;

		&[disabled] {
		    background: $primary-color !important;
		    border-color: $primary-color !important;
		    box-shadow: none !important;
			color: $secondary-color !important;
		    cursor: default;
		    opacity: 0.4;
		    text-shadow: none !important;
		}

		&:hover, &:focus {
			background: var(--btn-hover-color);
			border: thin solid var(--btn-border-hover-color);
		}
	}

	#nav {
		background: var(--login-color);
		border: thin solid var(--border-color);
		border-radius: 0 0 0.3125rem 0.3125rem;
		border-top: 0;
		font-size: .9rem;
		margin: 0;
		padding: 0 2.0rem 2.0rem 2.0rem;
		text-align: center;
	}

	#backtoblog, p.forgetmenot, .message, .privacy-policy-page-link {
		display: none;
	}
}

#resetpassform {
	.password-input {
		padding-right: calc( 2.5rem + .6rem );
	}

	.wp-hide-pw {
		border-radius: 0;
		margin-top: 0.062rem;
		margin-right: 0.062rem;
		height: calc( 100% - 0.125rem );
		padding: 0.6rem 0;
		width: 2.5rem;

		& > .dashicons { 
			top: -0.125rem;
		}
	}
}

#pass-strength-result {
	color: #fff;

	&.short {
	    background-color: #a62a2a;
	    border-color: #a62a2a;
	}

	&.bad {
	    background-color: #b15e27;
	    border-color: #b15e27;
	}

	&.good {
	    background-color: #bd8020;
	    border-color: #bd8020;
	}

	&.strong {
		background-color: #298c58;
		border-color: #298c58;
	}
}

#pass1-text.strong, #pass1.strong {
    &.short {
	    border-color: #a62a2a;
	}

	&.bad {
	    border-color: #b15e27;
	}

	&.good {
	    border-color: #bd8020;
	}

	&.strong {
		border-color: #298c58;
	}
}