$color     : #384d72;
$colorDark : #2c3c59;

html, body {
	background : #efefef;
	min-height : 100%;
	height     : 100%;
}

body.login {
	height:auto;

	* {
		box-sizing : border-box;
	}

	#login {
		perspective : 65.0rem;
		position    : relative;
		max-width   : 22.0rem;
		padding     : 5% 0;
		width       : 100%;
	}

	h1 {
		box-sizing       : border-box;
		padding          : 1.0rem;
		background       : $color;
		transition       : transform .4s;
		transform-origin : 0 100%;

		a {
			background : url(../images/logo.svg) center center/contain no-repeat;
			margin     : 0 auto;
			width      : 100%;
			height     : 4.0rem;
		}

		&:hover {
			transform : rotateX(-25deg);
		}
	}

	form {
		margin     : 0;
		box-shadow : none;
		padding    : 1.5rem;
	}

	a, #nav a {
		color           : $color;
		text-decoration : underline;

		&:hover, &:focus {
			color : $colorDark;
		}

		&:focus {
			box-shadow : none;
			outline    : thin dotted $color;
		}
	}

	label {
		font-size : .9rem;
	}

	input[type=text], input[type=password] {
		text-shadow   : none;
		box-shadow    : none;
		border-radius : 0;
		font-size     : 1.0rem;
		padding       : .6rem;

		&:focus {
			box-shadow   : none;
			border-color : $color;
		}
	}

	.login-title {
		padding     : 1.5rem 0 1.0rem 0;
		background  : white;
		text-align  : center;
		font-weight : normal;
		font-size   : 2.0rem;
	}

	#login_error {
		margin     : 0;
		padding    : 1.5rem 1.5rem 0 1.5rem;
		border     : 0;
		box-shadow : none;
	}

	#wp-submit {
		background    : $color;
		text-shadow   : none;
		box-shadow    : none;
		border-radius : 0;
		float         : none;
		border        : 0;
		padding       : .6rem 2.5rem;
		height        : auto;
		font-size     : 1.0rem;
		width         : 100%;
		transition    : background .4s;

		&:hover, &:focus {
			background : $colorDark;
		}
	}

	#nav, &.mobile #login #nav {
		margin     : 0;
		padding    : 0 2.0rem 2.0rem 2.0rem;
		background : white;
		font       : .9rem;
		text-align : center;
	}

	#backtoblog, p.forgetmenot, .message {
		display : none;
	}
}